body {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ececec;
}

h1 {
  margin-bottom: 0;
  margin-top: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;

  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
img {
  width: 70px;
}
a {
  text-decoration: none;
  color: black;
}
hr {
  max-width: 650px;
  display: block;
  margin: 0 auto;
}

.weather-app-wrap {
  max-width: 700px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1.5px solid #767676;
  border-radius: 12px;
  background: linear-gradient(to bottom, #fff1eb 0%, #ace0f9 100%);
}
.overview {
  margin-bottom: 20px;
  line-height: 1.25;
}

.weather-temperature img {
  vertical-align: top;
  margin-right: 9px;
  height: 65px;
  width: 65px;
}
.weather-temperature strong {
  line-height: 1;
  font-size: 60px;
  font-weight: 350;
}
.description {
  padding-left: 75px;
}
.forecast {
  margin-top: 16px;
  text-align: center;
}
.forecast-date {
  font-size: 16px;
}
.forecast-temperature {
  font-size: 13px;
}
