body {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ececec;
}

h1 {
  margin-bottom: 0;
  margin-top: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
img {
  width: 70px;
}
a {
  text-decoration: none;
  color: black;
}
hr {
  max-width: 650px;
  display: block;
  margin: 0 auto;
  color: black;
}

.weather-app-wrap {
  max-width: 750px;
  margin: 30px auto;
}
.weather-app {
  margin: 0, auto;
  padding: 10px;
  height: 350px;
  border: 2.5px solid #767676;
  border-radius: 12px;
  background: linear-gradient(
    175deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 85.2%
  );
}
.overview {
  margin-bottom: 20px;
}
#current-weather {
  padding: 10px 5px 15px;
}

.weather-temperature img {
  height: 65px;
  width: 65px;
}
.weather-temperature strong {
  font-size: 60px;
  font-weight: 350;
}
.description {
  padding: 20px;
  font-size: 13px;
}
.weather-forecast {
  margin-top: 15px;
  padding-top: 20px;
  text-align: center;
}
.forecast-date {
  font-size: 16px;
}
.forecast-temperature {
  font-size: 13px;
}

#icon {
  vertical-align: sub;
}

.btn {
  background-color: #6e87a0;
  border: 2px solid #767676;
  border-radius: 12px;
}

.form-control {
  border: 2px solid #767676;
  border-radius: 12px;
}

#open-source {
  color: rgb(110, 136, 161);
}
